<!-- <div class="ui-g" *ngIf="false">
    <div class="ui-g-12 topnav" id="topnav">
        <div class="ui-g-6 ui-md-10 ui-lg-4">
            <a routerLink="/home" routerLinkActive="active"><img class="logo" src="assets/p.jpg "></a>
        </div>
        <div class="ui-g-6 ui-md-10 ui-lg-2"><a routerLink="/profile" routerLinkActive="active">Profile </i></a> </div>
        <div class="ui-g-6 ui-md-12 ui-lg-2"><a routerLink="/stack" routerLinkActive="active">Technical Stack <i class="fa fa-stack-overflow " aria-hidden="true "></i></a></div>
        <div class="ui-g-6 ui-md-10 ui-lg-2"><a routerLink="/interests" routerLinkActive="active">Interests <i class="fa fa-hand-peace-o " aria-hidden="true "></i></a></div>
        <div class="ui-g-6 ui-md-10 ui-lg-2"><a routerLink="/about" routerLinkActive="active">About <i class="fa fa-bullhorn " aria-hidden="true "></i></a></div>
    </div>
</div> -->

<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand fStyle" routerLink="/home" routerLinkActive="active">
        <img class="logo" src="assets/p.jpg">
    </a>
    <h1 class="typewiter">
        <h1 class="typewrite" data-period="2000" data-type='[ "Prashhanth" ]'>
            <span class="wrap"></span>
        </h1>
    </h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <h4><a class="nav-link" routerLink="/home" routerLinkActive="active">Home <i class="fa fa-home" aria-hidden="true "></i></a></h4>
            </li>
            <li class="nav-item active">
                <h4><a class="nav-link" routerLink="/profile" routerLinkActive="active">Profile <i class="lni lni-user"></i></a></h4>
            </li>
            <li class="nav-item">
                <h4><a class="nav-link" routerLink="/about" routerLinkActive="active">About <i class="fa fa-bullhorn" aria-hidden="true "></i></a></h4>
            </li>
            <li class="nav-item">
                <h4><a class="nav-link" routerLink="/reachme" routerLinkActive="active">Reach Me <i class="fa fa-envelope-open" aria-hidden="true "></i></a></h4>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>
<app-footer></app-footer>
