<h1>Hello Recruiters. Please fill the details below <i class="lni lni-angellist"></i></h1>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{mainmsg}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>{{msg}}<img class="icon" src="assets/{{statusIcon}}.gif"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<form>
    <div class="form-row">
        <div class="form-group col-md-3">
            <img class="team" src="assets/team.svg">
        </div>
        <div class="form-group col-md-2">
            <input type="text" class="form-control" name="name" [(ngModel)]="contact.contactName" placeholder="Name">
        </div>
        <div class="form-group col-md-2">
            <input type="text" name="org" class="form-control" [(ngModel)]="contact.org" placeholder="Org">
        </div>
        <div class="form-group col-md-3">
            <textarea class="form-control" name="descrption" rows="5" [(ngModel)]="contact.descrption" placeholder="Job Description" required></textarea>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <button type="submit" class="btn btn-outline-primary" (click)="addContact()" data-toggle="modal" data-target="#myModal">Submit</button>
        </div>
    </div>
</form>
<div class="text-center" *ngIf=!isLoaded>
  <div class="spinner-border text-secondary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<table class="table"  *ngIf=isLoaded>
    <thead class="thead-dark">
        <tr>
            <th *ngFor="let col of cols">
                {{col | uppercase}}
            </th>
            <th *ngIf="false">Modify</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contact of contacts">
            <th scope="row">{{contact.contactId}}</th>
            <td>{{contact.contactName}}</td>
            <td>{{contact.org}}</td>
            <td>{{contact.descrption}}</td>
            <td>{{contact.status}}</td>
        </tr>
    </tbody>
</table>
