<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <img class="prashhanth" src="assets/prashhanth.jpg">
    </div>
    <div class="col-sm-6">
      <h1 class="d-flex justify-content-center fontStyle">Prashhanth Nelakanti</h1>
      <h4 class="d-flex justify-content-center fontStyle">
        [Java Full Stack Dev]</h4>
      <h5><i class="fa fa-phone-square" aria-hidden="true"></i> 8328518351 <i class="fa fa-map-marker"
                                                                              aria-hidden="true"></i> Hyderabad </h5>
      <h5><i class="fa fa-envelope" aria-hidden="true"></i> prashhanth.nelakanti@gmail.com</h5>
      <h5>
        <ul><a href="https://in.linkedin.com/in/prashhanth" target="_blank"> LinkedIn
          <i class="fa fa-linkedin-square" aria-hidden="true"></i></a></ul>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7 col-md-6 d-flex justify-content-center fontStyle">
      <h3>Summary</h3>
      <hr>
    </div>
    <div class="col-sm-4  d-flex justify-content-center fontStyle">
      <h3>Skills</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7 d-flex justify-content-around fontStyle">
      <p>Worked on Cloud platforms like AWS and PCF. Having 4.5 years of experience at in developing Spring framework
        and 2 years into Angular 7 applications. Extensive hands on experience in Spring-Data-Jpa, Spring-Rest and
        Spring-Boot. Hands on experience
        in Hibernate, SQL. Worked on various Front End Technologies like HTML with Angular Framework. For continues
        Integration we use bamboo. Projects involved include web servers like Apache Tomcat and application servers.</p>
      <p> Having hands on experience in handling Use Cases and Functional. Excellent Inter-Personal and Communication
        skills and the ability to work efficiently, quickly learning & working with new technologies to fulfill project
        needs. Worked on design
        patterns like MVC, Singleton and Factory Method. Fast adaptation to new technologies and environments, strong
        analytical, debugging and problem solving skills.
      </p>
    </div>
    <div class="col-sm-5  d-flex justify-content-around fontStyle">
      <div class="container">
        <div class="row">
          <h5 class="col-sm-12  d-flex justify-content-center fontStyle"><u>Back End</u></h5>
          <div class="col-sm-3">
            <button type="button" class="btn btn-outline-primary" disabled>Java 1.8</button>
          </div>
          <div class="col-sm-4">
            <button type="button" class="btn btn-outline-primary" disabled>Spring Boot</button>
          </div>
          <div class="col-sm-5">
            <button type="button" class="btn btn-outline-primary" disabled>Micro Services</button>
          </div>
          <div class="col-sm-6 d-flex justify-content-start">
            <button type="button" class="btn btn-outline-primary" disabled>Spring Data-JPA</button>
          </div>
          <div class="col-sm-6">
            <button type="button" class="btn btn-outline-primary" disabled>Spring Data-Rest</button>
          </div>
          <div class="col-sm-2">
            <button type="button" class="btn btn-outline-primary" disabled>PCF</button>
          </div>
          <div class="col-sm-5">
            <button type="button" class="btn btn-outline-primary" disabled>AWS</button>
          </div>
          <div class="col-sm-2">
            <button type="button" class="btn btn-outline-primary" disabled>MySQL</button>
          </div>
        </div>
        <div class="row">
          <h5 class="col-sm-12  d-flex justify-content-center fontStyle"><u>Front End</u></h5>
          <div class="col-sm-4">
            <button type="button" class="btn btn-outline-success" disabled>Angular-7</button>
          </div>
          <div class="col-sm-3">
            <button type="button" class="btn btn-outline-success" disabled>PrimeNg</button>
          </div>
          <div class="col-sm-3">
            <button type="button" class="btn btn-outline-success" disabled>Bootstrap</button>
          </div>
          <div class="col-sm-3">
            <button type="button" class="btn btn-outline-success" disabled>HTML</button>
          </div>
          <div class="col-sm-3">
            <button type="button" class="btn btn-outline-success" disabled>CSS</button>
          </div>
        </div>
        <div class="row">
          <h5 class="col-sm-12  d-flex justify-content-center fontStyle"><u>Tools</u></h5>
          <div class="col-sm-3">
            <button type="button" class="btn btn-outline-danger" disabled>Maven</button>
          </div>
          <div class="col-sm-2">
            <button type="button" class="btn btn-outline-danger" disabled>Git</button>
          </div>
          <div class="col-sm-3">
            <button type="button" class="btn btn-outline-danger" disabled>Bamboo</button>
          </div>
          <div class="col-sm-3">
            <button type="button" class="btn btn-outline-danger" disabled>Intellij</button>
          </div>
          <div class="col-sm-6">
            <button type="button" class="btn btn-outline-danger" disabled>Eclipse</button>
          </div>
          <div class="col-sm-3">
            <button type="button" class="btn btn-outline-danger" disabled>RabbitMq</button>
          </div>
        </div>
        <div class="row">
          <h5 class="col-sm-12  d-flex justify-content-center fontStyle"><u>Other Technologies</u></h5>
          <div class="col-sm-3">
            <button type="button" class="btn btn-outline-dark" disabled>Python</button>
          </div>
          <div class="col-sm-3">
            <button type="button" class="btn btn-outline-dark" disabled>Numpy</button>
          </div>
          <div class="col-sm-3">
            <button type="button" class="btn btn-outline-dark" disabled>Pandas</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 d-flex justify-content-center fontStyle">
    <h3>Work Experience</h3>
  </div>
  <table class="table table-striped table-dark">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Org. Name</th>
      <th scope="col">Year of Joining</th>
      <th scope="col">Role</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Hitachi Vantara</td>
      <td>2021</td>
      <td>Sr. Full Stack Dev.</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Mphasis</td>
      <td>2020</td>
      <td>Full Stack Dev.</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Verizon</td>
      <td>2017</td>
      <td>Java Dev.</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Colruyt Group</td>
      <td>2013</td>
      <td>System Eng.</td>
    </tr>
    </tbody>
  </table>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 d-flex justify-content-center fontStyle">
        <h3>Projects Involved</h3>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h4>Global Change Management(GCM) <i class="fa fa-info-circle" aria-hidden="true"></i></h4>
          <footer class="blockquote-footer">Verizon <i class="fa fa-calendar" aria-hidden="true"></i>17/02/17-31/12/19
          </footer>
        </div>
      </div>
      <div class="row">
        <h5 class="col-sm-4   fontStyle"><u>Environment</u></h5>
        <h6 class="col-sm-8   fontStyle">
          <p>
            Vec Framework , Camel API, JPA, ExtJS, Bootstrap, Jdk 1.8, Oracle DB, Weblogic Server.
          </p>
        </h6>
      </div>
      <div class="row">
        <h5 class="col-sm-3   fontStyle"><u>Description</u></h5>
        <h6 class="col-sm-9   fontStyle">
          <p>
            GCM is a Enterprise Application Software which is uses the internal framework called VEC Framework which is
            built on the Spring Frame framework itself. The application interacts with various other application in the
            organization and play a vital role
            in gather the information of the user issues such as ticket creations, status of the ticket, ticket
            implementation etc.
          </p>
        </h6>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h4>Lead Management(LM) <i class="fa fa-info-circle" aria-hidden="true"></i></h4>
        <footer class="blockquote-footer">Mphasis <i class="fa fa-calendar" aria-hidden="true"></i>02/01/20-Till Date
        </footer>
      </div>
    </div>
    <div class="row">
      <h5 class="col-sm-3   fontStyle"><u>Environment</u></h5>
      <h6 class="col-sm-8   fontStyle">
        <p>
          Spring Boot, JPA, RestFul Webservices, Bamboo, Jdk 1.8, MsSql, PCF.
        </p>
      </h6>
    </div>
    <div class="row">
      <h5 class="col-sm-3   fontStyle"><u>Description</u></h5>
      <h6 class="col-sm-9   fontStyle">
        <p>
          LM is a Enterprise Application which takes the customer metaData and then process it based on the historical
          data that is been captured earlier and send notification to end user.
        </p>
      </h6>
    </div>
  </div>
</div>
