<!-- <div class="container">
  <form (ngSubmit)="processForm()" #formCtl="ngForm">
    <div class="form group">
        <label for="id">Id:</label>
      <input type="number" name="id" class="form-control" [(ngModel)]="id" class="validate">
    </div>

    <div class="form group">
      <label for="name">Name:</label>
        <input type="text" name="name"  id="name" required  class="form-control" [(ngModel)]="user.name" #name="ngModel" minlength="3" class="validate" >
    </div>

    <div class="form group">
        <label for="salary">Salary:</label>
          <input type="number" name="salary"  id="salary" required class="form-control" [(ngModel)]="user.salary" #salary="ngModel" class="validate">
    </div>

    <div class="form group">
        <label for="location">Location:</label>
          <input type="text" name="location" id="location" required class="form-control" [(ngModel)]="user.location" #location="ngModel" class="validate"   minlength="3">
    </div>
    
    <button class="btn waves-effect waves-light" type="submit" name="action" [disabled]="!formCtl.form.valid">Submit
    </button>
      
  </form>
</div> -->