<div class="jumbotron">
  <div class="d-sm-none">Let's get started!<a href="tel:8328518351" class="btn btn-primary">Contact me</a></div>
  <h2 class="alignment">Hi, I’m Prashhanth. Software Engineer.<i class="fa fa-heart love blink_me"></i></h2>
  <div class="d-flex justify-content-around"><img class="dev" src="assets/dev.svg">
    <h3 id="grad1" class="d-none d-lg-block">
        <div>
          Since beginning my journey as a
          Java Developer nearly 5 years ago,
          I merge a passion for usability and user experience
          with technical knowledge to create cool digital experiences.
          My repertoire includes programming languages and tools.
          I love to explore new technologies, I work on Spring Boot, Angular,
          in the deployment its AWS, PCF
        </div>
    </h3>
    <div class="d-sm-none col-sm-4  d-flex justify-content-center"><h3 id="grad2">
      I work on Spring Boot, Angular,
      IaaS AWS, PaaS PCF and also Terraform
      Docker, K8
    </h3></div>
  </div>
</div>
<h4 class="d-flex justify-content-center">This website is made possible by:</h4>
<div class="d-flex justify-content-center">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/aws.jpg" class="adjust" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/spring.jpg" class="adjust" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/angular.jpg" class="adjust" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/apache.jpg" class="adjust" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
