<!--{{name}}-->
<div class="jumbotron">
    <h1>My Works <i class="fa fa-briefcase" aria-hidden="true"></i></h1>
  <h4>
      <div class="d-flex justify-content-around"><span>
        <a class="navbar-brand fStyle" routerLink="/excel" routerLinkActive="active">Excel Project<i class="fa fa-file-excel-o" aria-hidden="true"></i></a></span>
      <span>Spring boot <i class="fa fa-power-off" aria-hidden="true"></i></span></div>
  </h4>
    <footer class="blockquote-footer">I believe in <cite title="Source Title">What I do!</cite></footer>
    <h2>My public Repository:</h2>
    <h4>
        <div class="d-flex justify-content-start">
            <ul><a href="https://github.com/PrashhanthNelakanti" target="_blank"> GitHub <i class="fa fa-github-alt" aria-hidden="true"></i></a></ul>
        </div>
    </h4>
    <h2 class="d-flex justify-content-center">Languages I speak and frameworks I playaround with:</h2>
    <h4>
        <div class="d-flex justify-content-around"><span>Java <i class="fa fa-coffee" aria-hidden="true"></i></span> <span>Spring boot <i class="fa fa-power-off" aria-hidden="true"></i></span></div>
        <div class="d-flex justify-content-around"><span>Python <i class="lni lni-python"></i></span><span>Angular <i class="lni lni-angular"></i></span>
        </div>
    </h4>
    <div class="d-flex justify-content-between"> <img class="adjust" src="assets/coder.svg">
        <img class="adjust" src="assets/workers.svg"> </div>
</div>
