
<div class="container">
  <table class="table table-stripe">
    <thead>
      <th>Id</th>
      <th>Name</th>
      <th>Salary</th>
      <th>Location</th>
      <th>Operations</th>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.salary}}</td>
        <td>{{user.location}}</td>
        <td>
          <button class="btn waves-effect waves-light" type="delete" name="action"  (click)="deleteUser(user)">DELETE</button>
          
          <button class="btn waves-effect waves-light" type="update" name="action"  (click)="update(user)">EDIT
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>