<!-- Footer -->
<footer class="page-footer font-small blue">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 greyFont">© 2021 Copyright:
        <h5>This website is designed and developed by Prashhanth For better Experience use Chrome <i class="fa fa-chrome" aria-hidden="true"></i> / FireFox
            <i class="fa fa-firefox" aria-hidden="true"></i>
        </h5>
        <a href="mailto:prashhanth.nelakanti@gmail.com?subject = Feedback&body = Message">
            <h4> Send Feedback <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></h4>
        </a>
    </div>
</footer>
